body {
    padding-top: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Parisienne', cursive;
    color: rgb(8, 7, 8);
}

.lead {
    font-size: 2.2rem;
    margin-top: 1em;
    color: rgb(112, 112, 112);
}

h2 {
    margin-top: 1em;
    color: rgb(112, 112, 112);
    font-size: 1.5rem;
}

.card {
    width: 100%;
    border: none;
    border-radius: 0;  
}

.drop-shadow {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.537);
}

#uganda {
    background-color: rgba(231, 81, 22, 0.43);
}

#uganda:hover {
    background-color: rgba(231, 81, 22, 0.83);
}

#tanzania {
    background-color: rgba(8, 133, 216, 0.43);
}
#tanzania:hover {
    background-color: rgba(8, 133, 216, 0.83);
}

#rwanda {
    background-color: rgba(193, 136, 3, 0.43);
}

#rwanda:hover {
    background-color: rgba(193, 136, 3, 0.83);
}

#ethio {
    background-color: rgba(156, 44, 32, 0.49);
}

#ethio:hover {
    background-color: rgba(152, 71, 62, 0.8);
}

#brazil {
    background-color: rgb(180, 144, 130, 0.43);
}

#brazil:hover {
    background-color: rgb(180, 144, 130, 0.8);
}

#colombia {
    background-color: rgba(102, 219, 129, 0.44);
}
#colombia:hover {
    background-color: rgba(102, 219, 129, 0.84);
}

.card:hover {
    
    text-transform: uppercase;
}

.card-body:hover {
    font-size: 0;
}

.card-body:hover:after {
    content: attr(data-hover);
    font-size: medium;
    line-height: 28px;
}

img {
    max-width: 30vw;
    
}

.fa {
    font-size: 3em;
}

i {
    margin: 8px;
}

i img {
    display: none;
    height: 30vh;
    width: auto;
}

i:hover img{
    display: block;  
}

.price {
    margin-bottom: 0px;
}

footer {
    text-align: center;
    background-color: rgba(8, 7, 8, 0.1);
    height: 50px;
}

footer p {
    margin-bottom: 0rem;
    padding: 10px;
}

@media only screen and (max-width: 574px) {
    .card {
        box-shadow: none;   
        min-height: 27vh;    
    }
    
    .card-body {
        box-shadow: none;       
    }
}
