body {
    padding-top: 2em;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Parisienne', cursive;
    font-size: 70px;
    font-weight: bold;
    color: rgb(8, 7, 8);
}

h2 {
    font-size: 21px;
    margin-top: 1em;
    color: rgb(112, 112, 112);
}

.card {
    padding-top: 1em;
    background-color: rgba(102, 219, 129, 0.74);
    width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#blend {
    background-color: rgba(193, 136, 3, 0.63);
}
#ethio {
    background-color: #98473E;
}

#brazil {
    background-color: #B49082;
}

.card-body:hover {
    font-size: 0;
}

.card-body:hover:after {
    content: attr(data-hover);
    font-size: medium;
    line-height: 28px;
}

img {
    max-width: 30vw;
    
}

.fa {
    font-size: 3em;
}
i {
    margin: 8px;
}

.price {
    margin-bottom: 0px;
}

footer {
    text-align: center;
    background-color: rgba(8, 7, 8, 0.1);
    height: 50px;
}

footer p {
    margin-bottom: 0rem;
    padding: 10px;
}

@media only screen and (max-width: 574px) {
    .card {
        box-shadow: none;   
        min-height: 27vh;    
    }
    
    .card-body {
        box-shadow: none;       
    }
}